
@mixin grid{
  #grid{
    margin: 5% auto;

    &:after{
      content: '';
      display: table;
      clear: both;
    }

  }
}

$map: ( 1600: 16, 950:12, 500:6, 380:3 );

@each $break, $count in $map{
  @media all and (max-width: $break + px){
    @for $i from 1 through $count{
      $equ: 96% / $i;
      #grid.cell-#{$break}-#{$i}{
        .grid-box{
          width: $equ;
          margin: 2% / $i;
        }
      }
    }
  }
}